<main class="contenedor panel-administracion">

    <h1><%= nombrePagina  %> </h1>
    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="/nuevo-meeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/imagen-perfil" class="btn btn-amarillo">Imagen Perfil</a>
    </div>
    <div class="seccion-admin">
        <h2>Proximos Meetis</h2>
        <% if(meeti.length){ %> 
        <ul>
            <% meeti.forEach(meet => { %>
            <li>
                <div class="informacion-admin">
                    <% moment.locale('es')  %> 
                    <% const fecha = meet.fecha +' '+ meet.hora;  %> 
                    <p class="fecha"><%= moment( fecha ).format('LLL'); %></p>
                    <h3><%= meet.titulo %>  </h3>
                    <small><%= meet.interesado.length %> Interesados</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/editar-meeti/<%= meet.id  %> " class="btn btn-verde">Editar</a>
                    <a href="/asistentes-meeti/<%= meet.id  %>" class="btn btn-azul2">Asistentes</a>
                    <a href="/eliminar-meeti/<%= meet.id  %>" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <% }); %>
          </ul>
         <% }else{ %>
            <p>No Tienes Meetis Creado</p> 
            <% } %> 
    </div>
    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <% if(grupos.length){ %> 
        <ul>
            <% grupos.forEach(grupo => { %>
              
                <li>
                    <div class="informacion-admin">
                        
                        <h3><%=grupo.dataValues.nombre%></h3>
                        
                    </div>
                    <div class="acciones contenedor-botones">
                        <a href="/editar-grupo/<%= grupo.dataValues.id %>" class="btn btn-verde">Editar</a>
                        <a href="/imagen-grupo/<%= grupo.dataValues.id%>" class="btn btn-azul2">Imagen</a>
                        <a href="/eliminar-grupo/<%= grupo.dataValues.id%>" class="btn btn-rojo">Eliminar</a>
                    </div>
                </li>
                    

                <% }); %>
            
            
            
            
        </ul>
        <% }else{ %>
            <p>No Tienes grupos Creado</p> 
            <% } %> 
    </div>

    <div class="seccion-admin">
        <h2>Meetis Anteriores</h2>
        <% if(anteriores.length){ %> 
        <ul>
            <% anteriores.forEach(meet => { %>
            <li>
                <div class="informacion-admin">
                    <% moment.locale('es')  %> 
                    <% const fecha = meet.fecha +' '+ meet.hora;  %> 
                    <p class="fecha"><%= moment( fecha ).format('LLL'); %></p>
                    <h3><%= meet.titulo %>  </h3>
                    <small><%= meet.interesado.length %> Interesados</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/editar-meeti/<%= meet.id  %> " class="btn btn-verde">Editar</a>
                    <a href="/asistentes-meeti/<%= meet.id  %>" class="btn btn-azul2">Asistentes</a>
                    <a href="/eliminar-meeti/<%= meet.id  %>" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <% }); %>
          </ul>
         <% }else{ %>
            <p>No Tienes Meetis anteriores</p> 
            <% } %> 
    </div>


</main>