<main class ="contenedor contenedor-formularios no-padding">
    <h1><%= nombrePagina %> </h1>
    <form action="/nuevo-grupo" class="default-form" method="POST" enctype="multipart/form-data">
    <div class="campo">
        <label>Nombre</label>
        <input type="text" name="nombre" placeholder="Nombre Grupo" value="<%= grupo.nombre  %> ">
    </div>
    <div class="campo descripcion">
        <label>Descripcion</label>
        <div class="contenedor-editor">
            <input type="hidden" id="x" name="descripcion"value="<%= grupo.descripcion  %> ">
            <trix-editor input="x"></trix-editor>
        </div>
    </div>
    <div class="campo">
        <label>Categoria</label>
        <select name="categoriaId">
            <option value=value=""" selected disabled>-- Elige una Categoria --</option>
            <% categorias.forEach(categoria => { %>
                  <option value="<%= categoria.id %> "> <%=categoria.nombre  %>  </option> 
            <%}) %>  
        </select>
    </div>
    <div class="campo">
        <label>Sitio Web</label>
        <input type="url" name="url" placeholder="Sitio Web"value="<%= grupo.url  %> ">
    </div>
    <div class="campo enviar">
        <input type="submit" value="Guardar Cambios" class='btn btn-rosa'>
    </div>
</form>
</main>