<div class="contenedor">
        <h1><%= nombrePagina %> </h3>
            <div class="informacion-grupo">
                <div class="imagen">
                    <% if (grupo.imagen) { %>
                        <img src="/uploads/grupos/<%= grupo.imagen %>" alt="">
                    <% }else{ %>
                        <img src="/img/meeti.jpg" alt="">

                        <% } %> 
                </div>
                <div class="texto">
                    <%- grupo.descripcion %>
                    <% if (grupo.url) { %>
                        <a target="_blank" class="url" href="<%= grupo.url %> "> Visita nuestro Sitio Web</a>
                    <% } %>
                    <% if (meetis.length>0) { %>
                        <h2>Proximos Meetis</h2>
                        <ul class='lista-meetis'>
                            <% meetis.forEach(meeti => { %>
                                <li>
                                    <div class="texto">
                                        <a href="/meeti/<%= meeti.slug %> ">
                                        <h3><%= meeti.titulo %> </h3>
                                        <% moment.locale('es') %>
                                        <% const fecha = meeti.fecha +' '+ meeti.hora;  %>  
                                        <p class="fecha"><%= moment(fecha).format('LLLL') %> Horas </p>  
                                        </a>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    <% } %>
i                </div>
            </div>
</div>